<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhysicBooK</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/error.css" media="screen">
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
</body>
<div class="panelCentral">
    <h1>!!!Oooooops¡¡¡</h1>
    <p>Esto es embarazoso.</p>
    <p>Nuestros duendes han perdido lo que debería estar aquí.</p>
    <img src="/img/duende1.png" alt="Imagen de un duende">
</div>

</html>