<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhysicBooK</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/error.css" media="screen">
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>
</body>
<div class="panelCentral">
    <h1>!Ha ocurrido un error interno en el servidor.ยก</h1>
    <p>Te recomendamos que vuelvas al inicio pulsando <a href="/">este enlace</a>.</p>
    <% if(locals.mensaje){%>
    <p id="mostrarError">Si tienes curiosidad este es el error que se ha producido:</p>
    <div id="panelError">
        <p>
            <%=locals.mensaje%>
        </p>
        <% if(locals.pila){%>
        <p>
            <%=locals.pila%>
        </p>
        <%}%>
    </div>
    <%}%>
    </div>

</html>