<div class="wrapper"> 
  <div> 
        <% imagenes.forEach(function(imagen) { %>
        <img src="/imagen2/<%=imagen.id%>" class="imgCarrousel" alt="<%=imagen.comentario%>">
        <% }); %>
  </div> 
</div>