<!-- <% let errores = getAndClearFlash();%> -->
<%if (errores) {%>
<%if (errores.length > 0) {%>
<div class="caja_errores">
    Algo ha ido mal:
    <ul>
        <% errores.forEach(function(error) { %>
        <li>
            <%= error.msg %>
        </li>
        <% }); %>
    </ul>
</div>
<%}%>
<%}%>