<!DOCTYPE html>
<html lang="es" class="friends">

<head>
    <title>PhisycBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/friends.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <div class="header">
        <div class="cabecera">
            <img src="../img/escudo.jpg" alt="imagen del escudo de rugby fisicas" class="escudo">
            <div class="cajaTitulo">
                <h1 class="titulo">PHYSICBOOK</h1>
            </div>
            <div class="menu">
                <a href="my_profile.html">Perfil</a>
                <a href="friends.html">Amigos</a>
                <a href="new_user.html">Preguntas</a>
                <a href="new_user.html">Desconectar</a>
            </div>
            <div class="cabeceraDatosUsuario">
                <div class="cabeceraImagenPerfil">
                    <img src="../img/perfil.png" alt="Imagen de perfil" class="cabeceraFotoPerfil">
                </div>
                <div class="puntos">
                    <p class="puntos">50 pts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2 class="tituloAmigos">AMIGOS</h2>
                <div class="buscardorAmigos">
                        <form action="" method="">		    
                            <input type="search" placeholder="Buscar Amigos...">Buscar por nombre: 		    	
                            <button>Buscar</button>
                        </form>
                    </div>

        </div>

        
        <div class="panelSolocitudAmistad">
        </div>
        <div class="busquedaDeAmigos">
            

        </div>
        <div class="amigos">
            
        </div>
    </div>
    </body>