<div class="header">
    <div class="cabecera">
        <img src="../img/escudo.jpg" alt="imagen del escudo de rugby fisicas" class="escudo">
        <div class="cajaTitulo">
            <h1 class="titulo">PHYSICBOOK</h1>
        </div>
        <div class="menu">
            <a href="my_profile.html">Perfil</a>
            <a href="friends.html">Amigos</a>
            <a href="new_user.html">Preguntas</a>
            <a href="desconectar">Desconectar</a>
        </div>
        <div class="cabeceraDatosUsuario">
            <div class="cabeceraImagenPerfil">
                <img src="../img/perfil.png" alt="Imagen de perfil" class="cabeceraFotoPerfil">
            </div>
            <div class="puntos">
                <p class="puntos"> <%= puntos %> puntos</p>
            </div>
        </div>
    </div>
</div>