<div class="header">
    <div class="cabecera">
        <img src="../img/escudo.jpg" alt="imagen del escudo de rugby fisicas" class="escudo">
        <div class="cajaTitulo">
            <h1 class="titulo">PHYSICBOOK</h1>
        </div>
        <div class="menu">
            <% if(!locals.usuario){%>
            <a href="login.html">Entrar</a>
            <a href="new_user.html">Nuevo Usuario</a>
            <%}%>
            <% if(locals.usuario){%>
            <a href="my_profile.html">Perfil</a>
            <a href="friends.html">Amigos</a>
            <a href="preguntas.html">Preguntas</a>
            <%}%>
        </div>
        <div class="cabeceraDatosUsuario">
            <div class="cabeceraImagenPerfil">
                <% if(locals.usr){%>
                <a href="/my_profile.html">
                    <img src="/imagen/<%=usr.email%>" alt="Imagen de perfil" class="cabeceraFotoPerfil">
                </a>
                <%}%>
            </div>
            <div class="puntos">
                <% if(locals.usr){%>
                <p class="puntos">
                    <%=usr.puntos%> puntos</p>
                <%}%>
            </div>
            <% if(locals.usr){%>
            <div class="nombreUsuario">
                <p class="usuario textoCabecera">
                    <%=usr.nombre%>
                </p>
            </div>
            <div class="botonCerrar">
                <a href="/desconectar" class="cerrarSesion textoCabecera">Desconectar</a>
            </div>
            <%}%>
        </div>
    </div>
</div>