<div class="header">
    <div class="cabecera">
        <img src="../img/escudo.jpg" alt="imagen del escudo de rugby fisicas" class="escudo">
        <div class="cajaTitulo">
            <h1 class="titulo">PHYSICBOOK</h1>
        </div>
        <div class="menu">
            <a href="login.html">Entrar</a>
            <a href="new_user.html">Nuevo Usuario</a>
        </div>
    </div>
</div>