<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PHYSICBOOK</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/imprimir.css" media="print" />
    <link rel="icon" href="../img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <%- include("header") %>

    <div class="contenedor">
        <div class="PaneltituloPagina">
            <h2>Entrar</h2>
        </div>

        <%- include("flash") %>

        <form id="formulario" method="POST" name="login" action="login">
            <div class="panelFormulario">

                <label for="email">E-Mail </label>
                <input type="text" name="email" id="email" placeholder="pepito@physicbook.com " />

                <label for="pass">Contraseña </label>
                <input type="password" name="password" id="pass" placeholder="*************">
                <input type="submit" name="conectar" id="conectar" value="Conectar">
            </div>
        </form>

    </div>
    <div>

    </div>

</body>

</html>