<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="query.js"></script>
</head>

<body>
    <%- include("header_login") %>
    <div class=contenedor>
            <button id="anyadirElemento">Añadir elemento</button>
            <%if (crearPregunta) {%>
                Pregunta: <input type="text" name="pregunta" id="pregunta" placeholder="¿****?" />
               <ol id="listaRespuestas">
                    <button id="anyadirElemento">Añadir Pregunta</button>
               </ol>  
               <a id="crea" href="insertarPregunta">Crear nueva pregunta</a>
               <%}%>
               <%else {%>
            <a id="creaPreguntaId" href="creaPregunta">Crear nueva pregunta</a>
            <%}%>
    </div>
</body>