<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="jquery/query.js"></script>
</head>

<body>
    <%- include("header") %>
    <div class=contenedor>
        <%- include("flash") %>
        <div class="PaneltituloPagina">
            <h2>Preguntas</h2>
        </div>
        <%if (preguntas.length>0) {%>
        <div>
            <h2 class="espaciadoTitulo">Preguntas seleccionadas aleatoriamente</h2>
            <ul class="indentacion">
                <% preguntas.forEach(function(p) { %>
                <li class="margen enlace">
                    <a name="pregunta" href="mostrarRespuestas?id=<%=p.id%>">
                        <div class="entraPregunta"><%= p.texto %></div>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <%}%>
        <%if (sePuedeCrearPregunta) {%>
        <div class="crearpregunta margen">
            <a class="boton botonFormularioEstrecho" id="creaPreguntaId" href="creaPregunta">Crear nueva pregunta</a>
        </div>
        <%}%>
        <%if (creandoPregunta) {%>
        <form class="indentacion" action="insertarPregunta" method="POST">
            <input class="boton botonFormularioEstrecho"  type="submit" id="insertarP" name="insertarP" value="Insertar Pregunta">
            <div>Pregunta:<input type="text" name="preguntaText" id="preguntaText"></div>
            <div>Respuestas:</div>
            <ul id="listaRespuestas">
            </ul>
        </form>
        <div>
            <button class="boton botonFormularioEstrecho2"  id="anyadirRespuesta"> Agregar Respuesta </button>
        </div>
        <%}%>

    </div>
</body>