<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="app.js"></script>

</head>

<body>
    <%- include("header_login") %>
    <div class=contenedor>
            <button id="anyadirElemento">Añadir elemento</button>
            <%if (creandoPregunta) {%>
                Pregunta: <input type="text" name="pregunta" id="pregunta" placeholder="¿****?" />
               <ol id="listaPreguntas">
                   <ul><input type="text" name="respuesta1" id="respuesta1" /></ul>
                   <ul><input type="text" name="respuesta2" id="respuesta2" /></ul>
                   <ul><input type="text" name="respuesta3" id="respuesta3" /></ul>
                   <ul><input type="text" name="respuesta4" id="respuesta4" /></ul>
               </ol>  
               <a id="crea" href="insertar">Crear nueva pregunta</a>
               <%}%>
               <%else {%>
            <a id="creaPreguntaId" href="creaPregunta">Crear nueva pregunta</a>
            <%}%>
    </div>
</body>