<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PhisicBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/preguntas.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/imprimir.css" media="print" />
    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />
    <script src="app.js"></script>

</head>

<body>
    <%- include("header_login") %>
    <div class=contenedor>
        <form id="crearPregunta" method="POST" name="perfil" action="crearPregunta">
            <input type="submit" name="creaPregunta" id="creaPreguntaId" value="Crear nueva pregunta">
        </form>
    </div>
</body>