@import "https://fonts.googleapis.com/css?family=Chicle";

@font-face {
    font-family: "Scorched";
    src: url("../font/ScorchedEarth/ScorchedEarthDEMO-KCFonts.ttf");
    font-style: normal;
}

.panelPerfil {
    margin-left: 300px;
    display: grid;
    width: 500px;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr 4fr;
    grid-column-gap: 20px;
    color: white;
    background-image: linear-gradient(to right, black, rgb(54, 4, 33), rgb(177, 9, 107), rgb(243, 26, 134), rgb(247, 19, 152), rgb(243, 26, 134), rgb(177, 9, 107), rgb(54, 4, 33), black);
    border-radius: 15px 0 15px 0;
}

.panelPerfil>.fotoPerfil {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
}

.panelPerfil>.datosPerfil {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    text-align: left;
    color: white;
display: grid;
grid-template-rows: auto auto auto auto auto auto auto;
grid-auto-columns: auto auto auto auto;
}
.margen{
    margin-top: 5px;
}

.panelPerfil>.modificarPerfil {
    grid-row: 2;
    grid-column: 2;
    border-radius: 13px 0px 13px 0px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
    background-image: linear-gradient(to right, black, rgb(54, 4, 33), rgb(177, 9, 107), rgb(243, 26, 134), rgb(247, 19, 152), rgb(243, 26, 134), rgb(177, 9, 107), rgb(54, 4, 33), black);
}

.panelPerfil>.modificarPerfil:hover {
    background-image: linear-gradient(to right, rgb(247, 19, 152), rgb(243, 26, 134), rgb(177, 9, 107), rgb(54, 4, 33), black, rgb(54, 4, 33), rgb(177, 9, 107), rgb(243, 26, 134), rgb(247, 19, 152));

}