@import "https://fonts.googleapis.com/css?family=Chicle";

@font-face {
    font-family: "Scorched";
    src: url("../font/ScorchedEarth/ScorchedEarthDEMO-KCFonts.ttf");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    /* font-family: 'chicle'; */
    color: white;
}



.menu {
 grid-column-start: 2;
 grid-column-end: 3;
 align-self: end;
}

.menu a {
    font-size: 25px;
    /* font-family: 'chicle'; */
    color: white;
    margin: 0px 10px;
    
    
}
.cabeceraDatosUsuario{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 70px 50px ;
    
}
.cabeceraImagenPerfil{
    align-self: center;
    /* margin: 0px 10px; */
}
.puntos{
    align-self: center;
}
.cabeceraFotoPerfil{
    width: 50px;
    height: 50px;
    margin: 6px;
}
.contenedor {
    margin: 0 auto;
    padding-top: 200px;
    /* padding-top: 220px; */
    /* 
      padding-top: 220px;
    padding-top: 220px;
        height: 1000px;
        width: 1000px;
        background: url(../img/RugbyKids.jpg) ;
        background-repeat: round;
        background-size: 150px 150px; */
}

.panelPerfil {
    margin-left: 300px;
    display: grid;
    width: 500px;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr 4fr;
    grid-column-gap: 20px;
    color: white;
    /* background-image: linear-gradient(315deg, #e84393 0%, #000000 74% ); */
    background-image: linear-gradient(to right, black,rgb(54, 4, 33),rgb(177, 9, 107),rgb(243, 26, 134),rgb(247, 19, 152),rgb(243, 26, 134),rgb(177, 9, 107),rgb(54, 4, 33), black); 
    border-radius: 15px 0 15px 0;
    /* text-align: right; */
}
/* .calavera{
    grid-column: 2;
    border-radius: 200px 200px 200px 200px;
    width: 150px;
    height: 150px;
    margin: AUTO; 
} */

.fotoPerfil{
    grid-column: 1;
    grid-row: 1;
margin: auto;

}
.imagenPerfil{
    
    width: 100px;
    height: 100px;
}
.datosPerfil{ 
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    text-align: left;
    color: white;
   
}
.panelPerfil #modificarPerfil {
    grid-row: 2;
    grid-column: 2;
    border-radius: 13px 0px 13px 0px;
    /* font-size: 25px; */
    /* font-family: 'chicle'; */
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
    background-image: linear-gradient(to right, black,rgb(54, 4, 33),rgb(177, 9, 107),rgb(243, 26, 134),rgb(247, 19, 152),rgb(243, 26, 134),rgb(177, 9, 107),rgb(54, 4, 33), black);   
    
}
.panelPerfil #modificarPerfil:hover{
    background-image: linear-gradient(to right,rgb(247, 19, 152),rgb(243, 26, 134),rgb(177, 9, 107),rgb(54, 4, 33), black,rgb(54, 4, 33),rgb(177, 9, 107),rgb(243, 26, 134),rgb(247, 19, 152)); 
    
}
.p {
    color :white;
}

