@import "https://fonts.googleapis.com/css?family=Frijole";
@import "https://fonts.googleapis.com/css?family=Chicle";

@font-face {
    font-family: "Scorched";
    src: url("../font/ScorchedEarth/ScorchedEarthDEMO-KCFonts.ttf");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.contenedorCabecera {
    height: 220px;
    width: 100%;
}

/* .contenedor {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding-top: 220px;
} */

.panelFormulario {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 33% 34% 33%;
    grid-row-gap: 10px;
    padding: 10px;
    color: white;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    border-radius: 15px 0 15px 0;
    text-align: right;
    width: 600px;
    margin-left: 300px;

}

.panelFormulario label {
    margin: 5px 10px;
}

.panelFormulario #conectar {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 13px 0px 13px 0px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
    background-image: linear-gradient(to right, black,rgb(54, 4, 33),rgb(177, 9, 107),rgb(243, 26, 134),rgb(247, 19, 152),rgb(243, 26, 134),rgb(177, 9, 107),rgb(54, 4, 33), black);   
  
}

.panelFormulario #mail {
    grid-column-start: 2;
    grid-column-end: 4;
}

.panelFormulario #pass {
    grid-column-start: 2;
    grid-column-end: 4;
}

.panelFormulario #nombreCom {
    grid-column-start: 2;
    grid-column-end: 4;
}

.panelFormulario #fechaNac {
    grid-column-start: 2;
    grid-column-end: 4;
    color: black;
}

.panelFormulario .radios {
    margin: 5px 0px;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}

.panelFormulario .radios .radioB {
    margin: 0px 10px;
}

.panelFormulario #imgPerfil {
    margin: 5px 0px;
    grid-column-start: 2;
    grid-column-end: 4;
}

