.contenedor {
    width: 80%;
}

.oculto {
    display: none;
}

.PanelPreguntas {
    margin: 5%;
}

.PanelPreguntasConRespuestas {

    margin: 5%;
}

input{
    color:black;
}

#creaPreguntaId:hover {
    background-image: linear-gradient(to right, rgb(247, 19, 152), rgb(243, 26, 134), rgb(177, 9, 107), rgb(54, 4, 33), black, rgb(54, 4, 33), rgb(177, 9, 107), rgb(243, 26, 134), rgb(247, 19, 152));

}

.entraPregunta:hover {
    padding: 3px;
    border: 1px dotted;
    border-radius: 13px 0px 13px 0px;
}

#anyadirElemento {
    color: fuchsia;
}

.elegirRespuestas {
    margin: 10px;
}

.indentacion {
    margin-left: 20%;
}

.botonFormularioEstrecho {
    padding: 6px;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    border-radius: 0 15px 0 15px;
    color:white;
}

.botonFormularioEstrecho2 {
    padding: 6px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 40%;
    width: 20%;
    border-radius: 0 15px 0 15px;
}

.margen {
    margin-top: 25px;
}

.espaciadoTitulo {
    margin-bottom: 15px;
    margin-left: 25%;
}

.yaRespondida {
    margin-top: 25px;
    font-style: italic;
}

.listaRespuestasDelSistema {
    margin-left: 20%;
}

.radio {
    font-size: large;
}