<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>Memory</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/cartas.css" media="screen">
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />
</head>

<body class="cerebro">
    <div class="contenido">
        <div class="mensaje">
            <h1>Nuestro cerebro</h1>
            <p>se ha recalentado y no ha encontrado lo que buscabas</p>
        </div>
        <div class="cartas">
            <div class="carta hacha"></div>
            <div class="carta cartaVuelta"></div>

        </div>
    </div>
</body>

</html>