<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>Memory</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/principal.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/cartas.css" media="screen">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon" />
    <script src="jquery/juego.js"></script>
</head>

<body>
    <div class="contenido">
        <%- include("header") %>
        <%- include("tablero") %>
    </div>
</body>

</html>