<!DOCTYPE html>
<html lang="es" class="blanco">

<head>
    <title>PHYSICBOOK</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/imprimir.css" media="print" />
    <link rel="icon" href="../img/favicon.jpg" type="image/x-icon" />
</head>

<body>
    <div class="header">
        <div class="titulo">
            <h1>PHYSICBOOK</h1>
        </div>
        <div class="menu">
            <a href="login.html">Entrar</a>
            <a href="new_user.html">Nuevo Usuario</a>
        </div>
    </div>
    <div class="contenedor">
        <h2>Entrar</h2>
        <div class="login">
            <form id="form_login" method="GET" name="login">
                <div class="PForm">
                <label for="email">E-Mail: </label>
                <input type="text" name="email" id="email" placeholder="pepito@physicbook.com " />
            </div>
                <div class="PForm">
                <label for="password">Contraseña: </label>
                <input type="password" name="password" id="password" placeholder="············">
            </div>
            <div class="PForm">
                <input type="button" name="conectar" id="conectar" value="Conectar">
            </div>
            </form>
        </div>

    </div>

</body>

</html>