<div class="header">
    <div class="cabecera">
        <img src="img/escudo.jpg" alt="imagen del escudo de rugby fisicas" class="escudo">
        <div class="cajaTitulo">
            <h1 class="titulo">TAREAS</h1>
        </div>
    </div>
    <div class="datosUsuario">
        <div class="imagenPerfil">
            <% if(locals.user){%>
            <img src="/imagenUsuario" alt="foto de perfil" class="fotoPerfil">
            <%}%>
        </div>
        <% if(locals.user){%>
        <div class="nombreUsuario">
            <p class="usuario textoCabecera">
                <%=user%>
            </p>
        </div>
        <div class="botonCerrar">
            <a href="/logout" class="cerrarSesion textoCabecera">Desconectar</a>
        </div>
        <%}%>
    </div>
</div>