@import "https://fonts.googleapis.com/css?family=Frijole";
@import "https://fonts.googleapis.com/css?family=Chicle";

@font-face {
    font-family: "Scorched";
    src: url("../font/ScorchedEarth/ScorchedEarthDEMO-KCFonts.ttf");
    font-style: normal;
}

* {
    /* border: dotted transparent 2px; */
}

* {
    margin: 0;
    padding: 0;
}

.PaneltituloPagina{
	display: grid;
	grid-row: 1;
	grid-column:3 ;
	grid-column-gap: 10px;
	grid-template-rows: 80px;
	align-content: center;
	background: #000;
	/* background: linear-gradient(#1b1b1b, #111); */
	border: 1px solid #000;
}

.tituloAmigos{
	display: grid;
	grid-column-start: 2;
	grid-column-end:3;
	color: white;
	font-size: 40pt;
	text-align: right;
}
.buscardorAmigos{
	display:grid;
	grid-column-start: 3;
	grid-column-end:4;
	align-self: center;
	
	
}
/*Barra de buscardor config */

.buscardorAmigos:after {
	background: #000;
	background: -webkit-linear-gradient(left, #151515, #000, #151515);	
	background: -moz-linear-gradient(left, #151515, #000, #151515);	
	background: -o-linear-gradient(left, #151515, #000, #151515);	
	background: -ms-linear-gradient(left, #151515, #000, #151515);	
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.buscardorAmigos form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	font-size: 0px;
	/* margin: 150px auto 0; */
	padding: 10px;
	height: 40px;	
	margin:10px 20px 10px 10px;
}

.buscardorAmigos input {
	background: #222;
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	/* font-family: 'Cabin', helvetica, arial, sans-serif; */
	font-size: 18px;
	font-weight: 400;
	height: 35px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	/* width: 200px; */
	width: 70%;
}

.ie .buscardorAmigos input {
	line-height: 40px;
}

.buscardorAmigos input::-webkit-input-placeholder {
   color: #888;
}

.buscardorAmigos input:-moz-placeholder {
   color: #888;
}

.buscardorAmigos input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: rgb(233, 54, 194);
	box-shadow: 0 0 5px rgba(219, 34, 179, 0.829), inset 0 0 5px rgba(231, 40, 151, 0.699), 0 2px 0 #000;
	color: #efe;
	outline: none;
}


.buscardorAmigos button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: 400;
	height: 33px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
    align-content: center;
}	

.buscardorAmigos button:hover,
.buscardorAmigos button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: rgb(247, 30, 164);
	outline: none;
}

.buscardorAmigos button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #F400A1;
		box-shadow: 0 0 5px rgba(228, 25, 143, 0.904), inset 0 0 5px #F400A1, 0 2px 0 #000;
	}	
    100% {
		border-color: #ff0080;
		box-shadow: 0 0 5px rgba(228, 25, 143, 0.904), inset 0 0 5px #e916bbbd, 0 2px 0 #000;
	}
}
