@import "https://fonts.googleapis.com/css?family=Frijole";
*{
    border: dotted fuchsia 2px;
    
}
*{
    margin:0;
    padding: 0;
}
h2{
    align-self: center; 
}
.contenedor{
    display: flex;
    flex-direction: column;
    
}
.login{
    color: white;
    width: 400px;
    align-self: center;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    border-radius: 15px 0 15px 0;
}
.PForm{
    display: flex;
    margin-top: 10px;   
    margin-bottom: 10px;
}
.PForm label{
    width: 200px;
    font-display: center;
    margin-left: 25px;
}
.PForm input{
border-radius: 5px 5px 5px 5px;
}
.PForm #email, #password{
    width: 70%;
    margin-right: 25px;
}
.PForm #conectar{
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px 13px 13px 13px;
     width: 200px; 
    font-size: 16px;
    font-family: 'Frijole';
    padding: 5px;
  }